* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey:hsl(216, 12%, 54%);
    --dark-grey: hsl(211, 7%, 28%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

body {
    font-family: 'Overpass', sans-serif;
    background: var(--very-dark-blue);
    color: var(--white);
}

.btn {
    border: none;
    font-family: inherit;
    cursor: pointer;
}

.main-section {
    background: var(--dark-blue);   
    width: 85%;
    min-width: 200px;
    max-width: 410px;
    border-radius: 12px;
    margin-top: 150px;
}

.card {
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1.1rem;
}

.star {
    display: flex;
    align-items: center;
    justify-content: center;
    width:40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--dark-grey);
}

.star img {
    width: 35%;
}

.heading {
    font-size: 1.5rem;
    font-weight: 700;
}

.description {
    color: var(--light-grey);
    font-weight: 400;
    font-size: .9rem;
}

.rating-section {
    align-self: stretch;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-grow: 0;
}

.rate-btn {
    background: var(--dark-grey);
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 50%;
    color: var(--light-grey);
}

.rate-btn:hover {
    background: var(--orange);
    color: var(--white);
}

.active {
    background: var(--medium-grey);
    color: var(--white);
}

.submit-btn {
    align-self: stretch;
    background: var(--orange);
    color: var(--white);
    font-size: .85rem;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    padding: .6rem;
    border-radius: 1.2rem;
    border: solid 4px var(--orange);

}

.submit-btn:hover {
    background: var(--white);
    color: var(--orange);
}

.container {
    display: flex;
}

.center {
    margin-inline: auto;
}

